$bg-color : #333;
$font-color : #fff;
$primary-color : #008ed6;
$overlay-color : rgba(0,0,0,0.7);
$icon-size : 30px;

body {
    background-color: $bg-color;
    color: $font-color;
}

.navbar {
    border-bottom: $primary-color 3px solid;
    opacity: 0.8;
}

#menuCollase li {
    padding-right: 1.2rem;
}


#main-section {
    background: url('../img/main-bg.jpg') no-repeat center center;
    background-size: cover;
    min-height: 700px;
    background-attachment: fixed;

    .overlay-layer {
        background-color :  $overlay-color;
        min-height: 700px;
    }
    .main-content {
        padding-top: 150px;
    }
    .cardstyle {
        opacity: 0.8;
    }
    .fa {
        background-color: $primary-color;
        padding: 5px;
        color: #fff;
        border-radius: 5px;
    }
}
/*--Section Explore --*/
#explore {
    .fa {
        background-color: #333;
        color: #fff;
        padding: 4px;
        border-radius: 5px;
        font-size: $icon-size;
    }
}

/* create*/
#create , #share{
    .fa {
        background-color: $primary-color;
        padding: 5px;
        color: #fff;
        border-radius: 5px;
    }
}

#create-head , #explore-head , #share-head {
    .btn-outline-light {
        transition: all 0.3s ease-in-out;
    }
    .btn-outline-light:hover {
        color: $primary-color;
    }
}